* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(63, 63, 63);
}

.container {
  display: grid;
  font-size: 25px;
  color: white;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 120px 120px 160px 160px 120px;
  gap: 15px;
  border: 5px solid rgb(63, 63, 63);
  padding: 15px;
}

.header {
  background-color: rgba(250, 7, 7, 0.829);
  grid-column-start: 1;
  grid-column-end: 4;
}

.navigation {
  background-color: rgb(73, 197, 255);
  grid-column-start: 1;
  grid-column-end: 4;
}

.section {
  background-color: rgb(255, 181, 43);
  grid-column-start: 1;
  grid-column-end: 3;
}

.article {
  background-color: rgb(255, 117, 98);
  grid-column-start: 1;
  grid-column-end: 3;
}

.aside {
  background-color: rgb(255, 56, 172);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.footer {
  background-color: rgb(77, 77, 77);
  grid-column-start: 1;
  grid-column-end: 4;
}
